# Byte-compiled / caches
__pycache__/
*.py[cod]
*.pyo
*.pyd
.pytest_cache/

# Environments / build
.env
.venv
.infakewe_venv/
envs/
.conda/
*.egg-info/
build/
dist/

# VS / IDE junk
.vscode/
.vs/
*.user
*.suo

# OS
.DS_Store
Thumbs.db

# Outputs
outputs/
